html {
    background-image: url(https://i.ibb.co/hFSFz7w/Screen-Shot-2022-03-10-at-8-05-06-PM.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #1e1e1e;
}

#topHeader {
    display: flex;
    justify-content: flex-end;
    background-color:#22222c;
}



.space {
    padding-top: 39px;
}

#space2 {
    padding-top: 211px;
}

#space3 {
    padding-top: 75px;
}

.container {
    display: flex;
    justify-content: center;
}

.facepic {
    display: flex;
    background-image: url(https://avatars.githubusercontent.com/u/99372105?v=4);
    background-size: cover;
    width: 250px;
    height: 250px;
    border-radius: 175px;
}

a {
    color: #d98e73;
}

a:hover {
    color: white;
}

button {
    font-size: 2rem;
    background-color: #4c6b99;
    color: #e1d9d1;
    border-radius: 15px;
}

button:hover {
    background-color: #e1d9d1;
    color: #4c6b99;
}